/* IDs */

#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 100px;
  color: #fff;
}

#footer {
  line-height: 1.5;
  text-align: center;
  padding: 100px 15% 1%;
}

/* ----- */

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-link {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.nav-item {
  padding: 0px 18px;
}

/* ---------------- */

/* Tags */

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1.5;
  color: #1f1f1f;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h3:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
  font-weight: 500;
}

/* -------- */

/* Classes */

.container-fluid {
  padding: 3% 15% 7%;
}

.iphone-img {
  position: static;
  transform: rotate(0);
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  right: 23%;
  position: absolute;
}

.download-button {
  margin-top: 30px;
  font-size: 21px;
  border-radius: 10px;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.icon:hover {
  color: #ff4c68;
}

.test-img {
  width: 10%;
  margin: 20px;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 5% 2%;
}

.insta {
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  padding: 4px;
  /* margin-left: -17rem!important; */
  background: rgb(98, 60, 199);
  background: radial-gradient(circle,
      rgba(98, 60, 199, 1) 0%,
      rgba(238, 50, 119, 1) 51%,
      rgba(244, 133, 88, 1) 100%);
  margin-right: 65px;
}

.fb {
  font-size: 2rem;
  color: #4267b2;
  margin-right: 65px;
}

.twitter {
  font-size: 2rem;
  color: #1da1f2;
  margin-top: 5px;
  margin-right: 65px;
}

.mail {
  font-size: 2rem;
}

.github {
  color: #1f1f1f;
}

.social {
  padding-bottom: 8%;
}

.smallText {
  margin-top: 8%;
}

/* ----------- */

/* Media Queries */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
    margin-top: 50px;
  }
}